// Typography
$font-size-base: 16px;

// Color
$main-color: theme('colors.amber.700');
$second-color: theme('colors.orange.300');
$third-color: theme('colors.orange.200');
$third-color-lighter: theme('colors.orange.100');

$font-color: theme('colors.neutral.800');
$font-color-lighter: theme('colors.neutral.600');
